@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Fredoka:wdth,wght@94.7,300..700&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: "Fredoka", sans-serif;
}
p, label {
    font-family: "Arima", system-ui;
}
body{
    margin: 0px;
    font-family: "Arima", system-ui;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}