@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Fredoka:wdth,wght@94.7,300..700&display=swap');
/*
font-family: "Fredoka", sans-serif;
font-family: "Arima", system-ui;
*/

/*Objetivos Generales*/
*{ /*global*/

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

/***Body***/
body{
    /* height: 100vh;*/
    background: #ffffff;
    /* background:  linear-gradient(to left, #859398, #283048); */
    background-image: url(../principal/img/fondo_principal_new.png);
    background-repeat: repeat-y;
    background-size: 600px auto;
    background-attachment: fixed;
    background-position: left top;
    font-family: "Fredoka", sans-serif;
    text-transform: capitalize;
}

img{
    max-width: 100%;
}

/* .container{
    max-width: 1000px;
    margin: 0 auto;
} */
/***Header***/
.header{
    background-color: #1db2b8;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    height: 75px;
    z-index: 1000;
}

/*Logo de empresa*/
.header .logo{ /*Detalle del puntero*/
    cursor: pointer;
    margin-right: auto;
    height: 60%;
    width: auto;
    transform: all 0.5s;
}

.header .logo:hover{
    transform: scale(1.3);
}

/*Pestañas de menu*/
.menu-box{
    display: flex;
    justify-content: center;
    align-items:  center;
}

.item{
    margin: 0 5%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    transform: all 0.3s;
    font-family: Arial, sans-serif;
}

.item:hover{
    transform: scale(1.2);
    color: #111111;
}

.drawer{
    /* width: 25%;; */
    font-size:  1.2rem;
    color: rgb(37, 43, 43);
    float: left;
    cursor: pointer;
    margin-left: 1rem;
    border: solid 1.5px rgb(37, 43, 43);
    padding: .2rem;
    border-radius:  .3rem;
}

#ckbox{
    display: none;
}

label.drawer{
    cursor: pointer;
    display: none;
}

#boton-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: #f2f2f2;
    font-family: "Fredoka",sans-serif;
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    gap: 10px;
}

/**Icono de Usuario**/
#icono-usuario {
    display: inline-block;
    min-height: 45px;
    width: 45px;
    background-color: #f7dc1a;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    font-size:  25px;

    color: #1b1b1b;
    transition: transform 0.3s ease 0s;
}

/*Animacion pasando por el mouse*/
#boton-usuario:hover #icono-usuario {
    transform: scale(1.2);
    color: #f2f2f2;
}

/**Contenedor del texto**/
.sign-detail {
    display: flex;
    flex-direction: column;
    line-height:  1.3;
    text-align: left;
    margin-right: 15px;
}

/**Estilo del ""Bienvenido**/
.sign-detail span {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: block;
    line-height: 1.2;
}

/**Estilo del "Inicia Sesion"**/
.sign-detail {
    font-size: 13px;
    font-family: Arial, sans-serif;
}
/* .customer-welcome{
    color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: "Fredoka",sans-serif;
    gap: 10px;
    max-width: 200px;
    justify-content:  space-between;
}

.authorization-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f2f2f2;
    width: 100%;
    justify-content: space-between;
}

.sign-detail{
    text-align: center;
    line-height: 1.3;
}

.sign-detail span{
    display: block;
    font-size: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

button.action.switch{
    margin-left: 15px;
    margin-right: auto;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

button.action.switch i{
    display: inline-block;
    min-height: 45px;
    width: 45px;
    background-color:  rgba(94, 91, 91, 0.8);
    margin: 0 20px 10px 0;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;

    font-size: 25px;
    color: #c2bcbc;
    transition: transform 0.3s ease 0s;
}

button.action.switch i:hover {
    transform: scale(1.2);
    color: #313533;
} */

/**Icono de Carrito de Compra**/
.header .btn-carrito button{
    margin-left: 125px;
    margin-right: auto;
    padding: 0 0 30% 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.header .btn-carrito i{
    display: inline-block;
    min-height: 45px;
    width: 45px;
    background-color: #f7dc1a;
    text-align:  center;
    line-height: 50px;
    border-radius: 50%;

    font-size: 25px;
    color: #1b1b1b;
    transition: transform 0.2s ease 0s;
}

.header .btn-carrito:hover i{
    transform: scale(1.3);
    color: #f2f2f2;
}

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(4px);
    top: 63px;
    z-index: 1;
    background-color: #e9f327ce;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td{
    color: #ffffff;
    font-family: "Arima", system-ui;
}

.borrar {
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    margin-top: 60px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.submenu img {
    font-size: 50px;
    margin-left: 80px;
    margin-right: auto;
    margin-top: 18px;
    padding:  0 0 5% 0;
    outline: none;
    position: relative;
}

/*Carrusel de Imagenes*/

.container-carrusel{
    margin: 120px auto 0 auto; 
    max-width: 1200px;  
    width: 100%;
    height: auto; 
    aspect-ratio: 16 / 6;
    background-color: #e0e0e0;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0 , 0.85);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.carruseles{
    /*Cambia el % por la cantidad de imagenes*/
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% / 3);/*Diviendo por la cantidad de imagenes que se usa*/
    height: 100%;
}

.slider-section img{
    width: 100%;  /*100%*/
    height: 100%; /*100%*/
    object-fit:  fill; /*no van a perder la calidad*/
    border-radius: 30px;
}

/*icono left-right*/
.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 55%;
    font-size:  1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #0f060681;
    transform:  translateY(-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left{
    left: 155px;
}

.btn-right{
    right: 155px;
}

.btn-left:hover,
.btn-right:hover{
    background-color: #3acaa9d4;
    color: #cc1515;
}

/***Seccion de Productos***/
.ofert {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1{
    display: flex;
    align-items: center;
    /*Para los que va 3 partes - separacion*/
    flex-basis: calc(33.3% - 45px); /*15*/
    padding: 18px;
    border-radius: 15%;
}

.producto-1 {
    background-color: #dcea2b;
}

.producto-2 {
    background-color: #d2450c;
}

.producto-3 {
    background-color: #50b80c;
}

.ofert-img{
    flex-basis: 100%;
    margin-right: 15px;
}

.ofert-img img{
    width: 180px;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color: #111111;
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.btn-1 {
    display: inline-block;
    padding:  6px 10px;
    background-color: #e1140a;
    color: #111111;
    border-radius: 5px;
    font-size: 15px;
}

.btn-2{
    display: inline-block;
    padding:  7px 10px;
    background-color: #2ae3c4;
    color: #111111;
    border-radius: 5px;
    font-size: 15px;
}

/**Muestra de productos**/
.products {
    padding: 50px 0;
    text-align: center;
}

.products h2 {
    color: #111111;
    font-family: "Fredoka", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    /*Que divide en 3 y que sea una fraccion */
    grid-template-columns:  repeat(3,1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.product img {
    width: 180px;
    height: 250px;
    margin-bottom:  20px;
}

.product h3 {
    font-size: 20px;
    color: #111111;
    font-family: "Fredoka", sans-serif;
    text-transform: uppercase;
    margin-bottom:  15px;
}

.product p, .precio{
    font-size:  18px;
    color: #111111;
    margin-bottom: 5px;
}

.precio {
    font-weight: 800;
}

/**Ayuda Tecnica**/
.icons {
    padding:  50px 0 85px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1 {
    flex-basis: calc(33.3% - 150px);
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #b9cdc9;
}

.icon-img img{
    width: 38px;
    height: 38px;
    margin-right: 20px;
}

.icon-txt h3{
    font-size: 20px;
    color: #111111;
    font-family: "Fredoka", sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 15px;
    color: #111111;
}


/*Footer*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color:rgba(44, 51, 61, 1);
    /* background-image: url(../img/fondo_rompecabeza.jpg) ; */
    padding: 30px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 25px;
}

.footer-links h4{
    color: #f2f2f2;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    margin-bottom: 15px;
    font-weight: 800;
}

.footer-links ul li a{
    font-size: 17px;
    font-weight: 450;
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #eaebe2;
    padding-left: 15px;
}

.social-link a i{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(7, 6, 6, 0.8);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #b3a2a2;
    transition: all .8s ease;
    font-size: 15px;
}

.icono1:hover {
    background-color: #3b5998;
    color: white;
}

.icono2:hover {
    background-color: #FF0000;
    color: white;
}

.icono3:hover {
    background-color: #000000;
    color: white;
}


/* Resposive Design - adapatable a dispositivos moviles*/

@media(max-width:991px){
    
/**Cabezera**/    
    .menu-box{
        padding: 20px;
        margin: 0;
    }

    label.drawer{
        display: inline-block ;
    }

    .menu-box{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #4a63c9;
        z-index: 2000;
        display: none;
    }

    .item{
        margin: 0 0 25px 0;
        width: 100%;
    }
    
    .btn-user{
        width: 100px;
    }

    #ckbox:checked ~ .menu-box{
        display: initial;
    }

    .logo{
        display: none;
    }

/*Carrito de Compra*/
    .submenu:hover #carrito{
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

/*Ofertas*/
    .ofert {
        padding: 100px 100px 0 100px;
        flex-direction:  column;
    }

    .ofert-1 {
        margin-bottom:  30px;
    }

/**Muestra de productos**/
    .products {
        padding:  0 80px 80px 80px;
    }

    .product h2{
        margin-bottom: 30px;
    }

    .product-content {
        grid-template-columns:  repeat(1,1fr);
        gap: 30px;
    }

    .product img{
        width: 250px;
        height: 250px;
    }

/**Iconos**/
    .icons {
        padding: 30px 100px;
        flex-direction:  column;
    }

    .icon-1{
        margin-bottom: 30px;
    }

    .icon-img{
        margin-left: 40px;
    }


/**Pie de Pagina**/
    .footer-row{
        text-align: center;
    }
    
    .footer-links{
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Estilos para los modal */
    #IniciarSesion, #ContraseñaOlvi, #CrearCuentaModal {
        font-family: "Arima", system-ui;
    }

    #IniciarSesion h1, #IniciarSesion h2, #IniciarSesion h3, #IniciarSesion h4, #IniciarSesion h5, #IniciarSesion h6,
    #ContraseñaOlvi h1, #ContraseñaOlvi h2, #ContraseñaOlvi h3, #ContraseñaOlvi h4, #ContraseñaOlvi h5, #ContraseñaOlvi h6,
    #CrearCuentaModal h1, #CrearCuentaModal h2, #CrearCuentaModal h3, #CrearCuentaModal h4, #CrearCuentaModal h5, #CrearCuentaModal h6 {
        font-family: "Fredoka", sans-serif;
    }

    #IniciarSesion label, #IniciarSesion p, 
    #ContraseñaOlvi label, #ContraseñaOlvi p, 
    #CrearCuentaModal label, #CrearCuentaModal p {
        font-family: "Arima", system-ui;
}